<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">admin</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.generate_statistics">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping package="softhair.model" />
		<mapping class="softhair.model.Usuario" />
		<mapping class="softhair.model.Funcionario" />
		<mapping class="softhair.model.Cliente" />
		<mapping class="softhair.model.HorarioReservado" />
		<mapping class="softhair.model.Colaborador" />
		<mapping class="softhair.model.Comanda" />
		<mapping class="softhair.model.Contato" />
		<mapping class="softhair.model.Endereco" />
		<mapping class="softhair.model.Fornecedor" />
		<mapping class="softhair.model.Servico" />
		
	</session-factory>

</hibernate-configuration>
