@font-face {
	font-family: 'Darleston'; 
	src: url("#{resource['fonts/Darleston.otf']}");
}

body {
	width: 90%;
	margin: auto;
}

h1, h2, .ui-outputlabel {
	color: #0073EA;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
}

/* Tela Login */
.logo {
	font-size: 150px;
	font-family: Darleston, Helvetica;
	color: #444444;
}

.centralizar-login {
	border-radius: 8px;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	width: 50%;
}

.centralizar-login .input-login {
	border: none;
	border-bottom: 1px solid #444;
	color: #444;
	height: 30px;
	width: 97%;
	height: 30px;
}

.centralizar-login .input-login:HOVER {
	background: none;
	border: none;
	border-bottom: 1px solid #444;
	height: 30px;
	width: 97%;
}

.centralizar-login .input-login:ACTIVE {
	background: none;
	border: none;
	border-bottom: 1px solid #444;
	height: 30px;
	width: 97%;
}

.centralizar-login .input-login:FOCUS {
	background: none;
	border: none;
	border-bottom: 1px solid #444;
	height: 30px;
	width: 97%;
}

.centralizar-login .botao-login {
	border: 1px solid rgb(68, 68, 68);
	color: rgb(68, 68, 68);
	border-radius: 2px;
	width: 100%;
}

.centralizar-login .botao-login:HOVER {
	background: none; border : 1px solid rgb( 68, 68, 68);
	color: rgb(68, 68, 68);
	border-radius: 2px;
	width: 100%;
	border: 1px solid rgb(68, 68, 68);
}

.centralizar-login .botao-login:ACTIVE {
	background: none;
	border: 1px solid rgb(68, 68, 68);
	color: rgb(68, 68, 68);
	border-radius: 2px;
	width: 100%;
}

.centralizar-login .botao-login:FOCUS {
	background: none;
	border: 1px solid rgb(68, 68, 68);
	color: rgb(68, 68, 68);
	border-radius: 2px;
	width: 100%;
}


/* Menu */

form .menu {
	background: none;
	border: none;
	border-bottom: 1px solid #0073EA;
}

form .menu ul {
	background: none;
	border: none;
}

.grupo-form {
	margin: 10px 0;
}

.acoes {
	text-align: center;
}

.novo {
	
}

.conteudo {
	margin-top: 1em
}

.msg-relatorio {
	margin-top: 30px;
	text-align: center;
}

.msg-relatorio .ui-outputlabel {
	font-size: 25px !important;
}

.valor-relatorio {
	font-size: 30px;
	color: #FF6900;
	text-align: center;
}

.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
	border: none !important;
}

.ui-outputlabel {
	font-weight: bold;
}

.ui-widget-content .ui-panelgrid-cell .ui-inputfield {
	font-weight: normal;
}