body {
	width: 90%;
	margin: auto;
}

h1, h2, .ui-outputlabel {
	color: #0073EA;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
}

form .menu {
	background: none;
	border: none;
	border-bottom: 1px solid #0073EA;
}

form .menu ul {
	background: none;
	border: none;
}

.grupo-form {
	margin: 10px 0;
}

.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
	border: none !important;
}

.ui-outputlabel {
	font-weight: bold;
}

.ui-widget-content .ui-panelgrid-cell .ui-inputfield {
	font-weight: normal;
}

.acoes {
	text-align: center;
}

.novo {
	
}

.conteudo {
	margin-top: 1em
}