@font-face {
	font-family: 'Darleston'; /*a name to be used later*/
	src: url("#{resource['fonts/Darleston.otf']}");
}

body {
	width: 90%;
	margin: auto;
}

h1, h2, .ui-outputlabel {
	color: #0073EA;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
}

.logo {
	font-size: 150px;
	font-family: Darleston, Helvetica;
	color: #444444;
}

.centralizar-login {
	border-radius: 8px;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	width: 50%;
}

.centralizar-login input {
	height: 30px;
	width: 97%;
}

.centralizar-login button {
	width: 100%;
}

form .menu {
	background: none;
	border: none;
	border-bottom: 1px solid #0073EA;
}

form .menu ul {
	background: none;
	border: none;
}

.grupo-form {
	margin: 10px 0;
}


.acoes {
	text-align: center;
}

.novo {
	
}

.conteudo {
	margin-top: 1em
}

.msg-relatorio{
	margin-top: 30px;
	text-align: center;
}

.msg-relatorio .ui-outputlabel{
	font-size: 25px !important;
	
}
.valor-relatorio{
	font-size: 30px;
	color: #FF6900;
	text-align: center;
	
	
}

.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
	border: none !important;
}

.ui-outputlabel {
	font-weight: bold;
}

.ui-widget-content .ui-panelgrid-cell .ui-inputfield {
	font-weight: normal;
}
